include LICENSE
include README.rst

graft mailfactory_extras
global-exclude *.orig *.pyc *.log *.swp
prune mailfactory_extras/tests/coverage
prune mailfactory_extras/.ropeproject
recursive-include mailfactory_extras *
